<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tn.rnu.enis.myprojectmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MainTheme">
        </activity>

        <activity
            android:name=".project.AddProject"
            android:label="@string/add_project"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".TasksActivity"
            android:label="@string/tasks"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".task.AddTask"
            android:label="@string/add_task"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".task.ShowTask"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".task.UpdateTask"
            android:theme="@style/AppTheme" />

        <provider
            android:name=".data.TasksProvider"
            android:authorities="tn.rnu.enis.myprojectmanager.provider"
            android:exported="false"
            android:syncable="true" />

    </application>

</manifest>
